.movies__section {
    margin: 0 70px 0;
    padding: 10px 0 50px;
}

.movies__list {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
    gap: 30px 24px;
    margin: 0;
    padding: 70px 0 0;
    box-sizing: border-box;
    list-style: none;
}
  
.movies__button-more {
    max-width: 320px;
    margin: 0 auto;
    padding: 45px 0 49px;
}
  
.movies__button {
    width: 100%;
    padding: 10px 0 9px 0;
    outline: none;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    background-color: white;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    transition: opacity .2s linear;
}
  
.movies__button:hover {
    opacity: 60%;
    cursor: pointer;
}
  
@media all and (max-width: 900px) {
    .movies__section {
      margin: 0 30px;
    }
  
    .movies__list {
      grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
      gap: 36px 30px;
    }
}
  
@media all and (max-width: 400px) {
    .movies__section {
      margin: 0 10px 0;
    }
  
    .movies__list {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding: 40px 0 0;
      gap: 18px 20px;
    }
  
    .movies__button-container {
      max-width: 240px;
    }
}