.header {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 70px;
  }
  
  .header__logo {
    transition: opacity 0.2s;
  }
  
  .header__logo:hover {
    opacity: 60%;
    cursor: pointer;
  }
  
  @media screen and (max-width: 900px) {
    .header {
      padding: 18px 30px;
    }
  }
  
  @media screen and (max-width: 640px) {
    .header {
      padding: 18px 14px;
    }
  }
  