.nav-tab {
    margin: 0;
}
  
.nav-tab__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 96px);
    column-gap: 10px;
    justify-content: center;
    padding: 0;
    margin: 0;
}
  
.nav-tab__list-item {
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
    background: #E8E8E8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.nav-tab__list-link {
    font-weight: 500;
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    opacity: 1;
    transition: opacity .2s linear;
}
  
.nav-tab__list-link:hover {
    opacity: 60%;
}
  
@media screen and (max-width: 900px) {
    .nav-tab__list {
      grid-template-columns: repeat(3, 82px);
      gap: 6px;
    }
  
    .nav-tab__list-link {
      font-size: 12px;
      line-height: 16px;
    }
}
  